
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

<div ng-app="myApp" ng-controller="myCtrl">
    <table>
        <thead>
            <tr>
                <th class="Prices">Symbol</th>
                <th class="Dates">StartDate</th>
                <th class="Prices">StartPrice</th>
                <th class="Dates">EndDate</th>
                <th class="Prices">EndPrice</th>
                <th class="Prices">Shares</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions">
                <td>
                    {{ transaction.symbol }}
                </td>
                <td>
                    {{ transaction.startDate }}
                </td>
                <td>
                    {{ transaction.startPrice }}
                </td>
                <td>
                    {{ transaction.endDate }}
                </td>
                <td>
                    {{ transaction.endPrice }}
                </td>
                <td>
                    {{ transaction.shares }}
                </td>

            </tr>

        </tbody>

    </table>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/api/Transactions")
            .then(function (response) {
                $scope.transactions = response.data;
            });
    });
</script>

<style>

    .Dates {
        width: 125px;
    }

    .Prices {
        width: 80px;
    }
</style>
